
a {
    font-size:35;
    color: white;
    text-decoration: none;
    font-family: Helvetica;
    outline: none;
}
body {
    margin: 0;
    background-color: black;
    font-family: helvetica;
    color: white;
}

.header {
    font-size: 150;
    font-size: 75;
    text-align: center;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}
.middle {
    display: table-cell;
    vertical-align: middle;
}
.inner {
    margin-left: auto;
    margin-right: auto; 
}
.icons {
    min-width: 500px;
}

.icon-wrapper {
    width: 25%;
    float: left;
    border: 0px solid white;
    border-radius: 20px;
    position: relative;
    list-style-type: none;
}
.icon-image {
    border: 5px solid white;
    margin: auto;
    z-index: 1;
    transition:color .05s ease-out, background .2s ease-in;
    -o-transition:color .05s ease-out, background .2s ease-in;
    -ms-transition:color .05s ease-out, background .2s ease-in;
    -moz-transition:color .05s ease-out, background .2s ease-in;
    -webkit-transition:color .05s ease-out, background .2s ease-in;
}

#twitter {
    background: transparent url(./twitter.png) no-repeat center center;
    background-size: 75px;
}
#twitter:hover {
    background: rgba(255, 255, 255, 0.30) url(./twitter.png) no-repeat center center;
    background-size: 75px;
}
#google {
    background: transparent url(./google.png) no-repeat center center;
    background-size: 75px;
}
#google:hover {
    background: rgba(255, 255, 255, 0.30) url(./google.png) no-repeat center center;
    background-size: 75px;
}
#email {
    background: transparent url(./email.png) no-repeat center center;
    background-size: 75px;
}
#email:hover {
    background: rgba(255, 255, 255, 0.30) url(./email.png) no-repeat center center;
    background-size: 75px;
}
#instagram {
    background: transparent url(./instagram.png) no-repeat center center;
    background-size: 75px;
}
#instagram:hover {
    background: rgba(255, 255, 255, 0.30) url(./instagram.png) no-repeat center center;
    background-size: 75px;
}
#linkedin {
    background: transparent url(./linkedin.png) no-repeat center center;
    background-size: 75px;
}
#linkedin:hover {
    background: rgba(255, 255, 255, 0.30) url(./linkedin.png) no-repeat center center;
    background-size: 75px;
}
#about {
    background: transparent url(./about.png) no-repeat center center;
    background-size: 75px;
}
#about:hover {
    background: rgba(255, 255, 255, 0.30) url(./about.png) no-repeat center center;
    background-size: 75px;
}
#amazon {
    background: transparent url(./amazon.png) no-repeat center center;
    background-size: 75px;
}
#amazon:hover {
    background: rgba(255, 255, 255, 0.30) url(./amazon.png) no-repeat center center;
    background-size: 75px;
}
#facebook {
    background: transparent url(./facebook.png) no-repeat center center;
    background-size: 75px;
}
#facebook:hover {
    background: rgba(255, 255, 255, 0.30) url(./facebook.png) no-repeat center center;
    background-size: 75px;
}

.icon-label {
    padding: 10px;
    border: 0px solid white;
    z-index: 2;
    margin: auto;
    text-align:center;
    font-family: Helvetica;
    font-size: x-large;
    color: white;
}

@media screen and (max-width: 767px) {
    .icon-wrapper {
        height: 180px;
    }
    .header {
        font-size: 80;
    }
    .icon-image {
        border-radius: 25px;
        width: 95px;
        height: 95px;
        background-size: 50px;
    }

    .icons {
        padding: 10px 0px 0px 0px;
    }
    #twitter {
    background: transparent url(./twitter.png) no-repeat center center;
    background-size: 55px;
}
#twitter:hover {
    background: rgba(255, 255, 255, 0.30) url(./twitter.png) no-repeat center center;
    background-size: 55px;
}
#google {
    background: transparent url(./google.png) no-repeat center center;
    background-size: 55px;
}
#google:hover {
    background: rgba(255, 255, 255, 0.30) url(./google.png) no-repeat center center;
    background-size: 55px;
}
#email {
    background: transparent url(./email.png) no-repeat center center;
    background-size: 55px;
}
#email:hover {
    background: rgba(255, 255, 255, 0.30) url(./email.png) no-repeat center center;
    background-size: 55px;
}
#instagram {
    background: transparent url(./instagram.png) no-repeat center center;
    background-size: 55px;
}
#instagram:hover {
    background: rgba(255, 255, 255, 0.30) url(./instagram.png) no-repeat center center;
    background-size: 55px;
}
#linkedin {
    background: transparent url(./linkedin.png) no-repeat center center;
    background-size: 55px;
}
#linkedin:hover {
    background: rgba(255, 255, 255, 0.30) url(./linkedin.png) no-repeat center center;
    background-size: 55px;
}
#about {
    background: transparent url(./about.png) no-repeat center center;
    background-size: 55px;
}
#about:hover {
    background: rgba(255, 255, 255, 0.30) url(./about.png) no-repeat center center;
    background-size: 55px;
}
#amazon {
    background: transparent url(./amazon.png) no-repeat center center;
    background-size: 55px;
}
#amazon:hover {
    background: rgba(255, 255, 255, 0.30) url(./amazon.png) no-repeat center center;
    background-size: 55px;
}
#facebook {
    background: transparent url(./facebook.png) no-repeat center center;
    background-size: 55px;
}
#facebook:hover {
    background: rgba(255, 255, 255, 0.30) url(./facebook.png) no-repeat center center;
    background-size: 55px;
}
}
@media (min-width: 768px){
    .icon-wrapper {
        height: 200px;
    }
    .header {
        font-size: 115;
    }
    .icon-image {
        border-radius: 35px;
        width: 130px;
        height: 130px;
    }
    .icons {
        padding: 10px 30px 0px 30px;
    }

}
@media (min-width: 1024px){
    .icon-wrapper {
        height: 215px;
    }
    .header {
        font-size: 140;
    }
    .icon-image {
        border: 8px solid white;
    }
    .icon-label {
        font-size: xx-large;
    }
    .icons {
        padding: 10px 50px 0px 50px;
    }
}
@media (min-width: 1441px){
    .icon-wrapper {
        height: 315px;
    }
    .header {
        font-size: 180;
    }
    .icon-image {
        border-radius: 50px;
        width: 200px;
        height: 200px;
    }
    .icon-label {
        font-size: 42;
    }
    .icons {
        padding: 10px 100px 0px 100px;
    }
    #twitter {
    background: transparent url(./twitter.png) no-repeat center center;
    background-size: 115px;
}
#twitter:hover {
    background: rgba(255, 255, 255, 0.30) url(./twitter.png) no-repeat center center;
    background-size: 115px;
}
#google {
    background: transparent url(./google.png) no-repeat center center;
    background-size: 115px;
}
#google:hover {
    background: rgba(255, 255, 255, 0.30) url(./google.png) no-repeat center center;
    background-size: 115px;
}
#email {
    background: transparent url(./email.png) no-repeat center center;
    background-size: 115px;
}
#email:hover {
    background: rgba(255, 255, 255, 0.30) url(./email.png) no-repeat center center;
    background-size: 115px;
}
#instagram {
    background: transparent url(./instagram.png) no-repeat center center;
    background-size: 115px;
}
#instagram:hover {
    background: rgba(255, 255, 255, 0.30) url(./instagram.png) no-repeat center center;
    background-size: 115px;
}
#linkedin {
    background: transparent url(./linkedin.png) no-repeat center center;
    background-size: 115px;
}
#linkedin:hover {
    background: rgba(255, 255, 255, 0.30) url(./linkedin.png) no-repeat center center;
    background-size: 115px;
}
#about {
    background: transparent url(./about.png) no-repeat center center;
    background-size: 115px;
}
#about:hover {
    background: rgba(255, 255, 255, 0.30) url(./about.png) no-repeat center center;
    background-size: 115px;
}
#amazon {
    background: transparent url(./amazon.png) no-repeat center center;
    background-size: 115px;
}
#amazon:hover {
    background: rgba(255, 255, 255, 0.30) url(./amazon.png) no-repeat center center;
    background-size: 115px;
}
#facebook {
    background: transparent url(./facebook.png) no-repeat center center;
    background-size: 115px;
}
#facebook:hover {
    background: rgba(255, 255, 255, 0.30) url(./facebook.png) no-repeat center center;
    background-size: 115px;
}
}
.about-text {
    padding: 100px;
}